snippet for
	for (${1:ii} in ${2:}) {
	}
snippet if
	if (${1:}) {
		${2:}
	}
snippet while
	while (${1:}) {
		${2:}
	}
snippet func
	function (${1:}) {
		${2:}
	}
snippet switch
	switch (${1:}) {
		case ${2:_}:
			${3:}
	}
snippet case
	case ${1:}:
		${2:}
