snippet /*
	/**
	 * ${1}
	 */
snippet todo
	`substitute(substitute(&commentstring, "%s", " TODO(" . $USER . "): ${1} ", ""), " $", "", "")`
snippet fixme
	`substitute(substitute(&commentstring, "%s", " FIXME(" . $USER . "): ${1} ", ""), " $", "", "")`
